.container{

}

.btn-success{
	width: 100%;
	margin-top: 45px
}
.btn-danger{
	width: 100%;
	margin-top: 45px
}
.browse-text{
	width: 100%;
	padding: 0;
}
#list-container-footer{
}
#list-container{
}
#list-container-footer a{
	width: 40%;
	height: 40px;
}
#list-add-button{
	background-color: rgb(245, 85, 75);;
}
#list-delete-button{
	background-color: rgb(75, 175, 80);;
}
#list-item{
		background-color: rgb(255, 87, 34);;
		width: 100%;
		height: 150px;
		margin-left: 20px;
		margin-right: 20px;
}
#list-item img{
	width: 200px;
}
